---
import Buttom from "./Buttom.astro";


---


<nav class="w-full bg-[#171717] h-[4rem] ">
<div class="w-[80%] mx-auto h-full flex space-x-1 text-white items-center justify-between">
        
        
        <ul class=" w-1/2 flex items-center space-x-4 h-full  ">
         <li class="h-full flex items-center transition-all duration-300 ease-in-out hover:border-b-8 border-pink-500 ">Logo</li>
         <li class="h-full flex items-center transition-all duration-300 ease-in-out hover:border-b-8 border-pink-500 ">Logo</li>
         <li class="h-full flex items-center transition-all duration-300 ease-in-out hover:border-b-8 border-pink-500 ">Logo</li>
         <li class="h-full flex items-center transition-all duration-300 ease-in-out hover:border-b-8 border-pink-500 ">Logo</li>
         <!-- <li>pricing </li>
         <li>Sobre nosotros</li>
         <li>Confiaron en nosotros!</li> -->
        </ul>


            <div class="w-1/2 flex justify-end gap-2">
            <button>Agenda una llamada con nosotro!</button>
            <button><Buttom/></button>
            </div>
</div>
</nav>