---
import "../styles/global.css";
---
<div class="flex items-center justify-center bg-black text-white p-8 pt-10">
	<div class="max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
	  <div>
		<h1 class="text-5xl font-bold">
		  Tu <span class="text-[#CEFF1A]">Proyecto</span><br /> Nuestro Código
		</h1>
		<p class="mt-4 text-lg text-gray-300">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. 
			Est accusantium alias provident quidem. Perferendis possimus in fuga ea qui nam, 
			enim libero necessitatibus natus officia atque sapiente est sed animi.
		</p>
		<div class="mt-6 flex gap-4">
			<button class="px-6 py-3 bg-[#CEFF1A] text-black font-medium rounded-md cursor-pointer transition-all duration-300 ease-in-out transform hover:scale-105">
				Contáctanos
			  </button>
		</div>
		<p class="mt-6 text-sm text-gray-400">Trusted by</p>
		<div class="flex gap-6 mt-2">
		  <span class="text-gray-500">Vue3</span>
		  <span class="text-gray-500">TypeScript</span>
		  <span class="text-gray-500">JavaScript</span>
		  <span class="text-gray-500">GitHub</span>
		  <span class="text-gray-500">Tailwind</span>
		</div>
	  </div>
	  <div class="flex justify-center">
		<img src=logoDevHubSinFondo.png alt="Devhub-Logo" class="w-64" />
	  </div>
	</div>
  </div>

