<div class="w-full bg-[#CEFF1A] p-5 h-max border-b-2 border-black">
    <div class="justify-center items-center flex text-black font-extrabold max-[931px]:text-sm">
        TOP BAR INFORMACION AUN SIN DECIDIR
    </div>
</div>